<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>产品应用</title>
  <meta name="keywords" content="**,**产品" />
  <meta name="description" content="产品应用" />
  <link rel="stylesheet" href="./static/lib/bootstrap/bootstrap.min.css" />
</head>

<body>
  <header id="header"></header>
  <main class="main">
    <article class="container default-banner application-banner lazy-bgimage" data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 default-describle">
          <p>时空智能 无限可能</p>
          <p>激活行业数据价值，打造全场景融合产品生态圈</p>
        </div>
      </div>
      <span class="rolling">
        <i></i>
      </span>
    </article>
    <article class="default-article" id="spacedata">
      <div class="default-container">
        <div class="default-content-wrap">
          <div class="default-content">
            <p class="default-main-title">空间数据管理应用</p>
            <p class="default-sub-title">海量空间数据高效管理产品</p>
            <p class="default-abstract">
              提供海量空间数据的高效管理与实时发布能力，支持跨部门、跨行业的空间数据协同服务。
            </p>
            <ul class="default-ul-list">
              <li>多类型、多尺度、多时相的地理数据高效管理</li>
              <li>矢量、遥感数据无需预处理快速发布</li>
              <li>时空索引助力融合行业数据，安全协同分析</li>
            </ul>
          </div>
        </div>
        <div class="default-img-wrap">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article class="default-article" id="image">
      <div class="default-container">
        <div class="default-content-wrap">
          <div class="default-content">
            <p class="default-main-title">影像地球</p>
            <p class="default-sub-title">新一代智能影像云应用平台</p>
            <p class="default-abstract">
              开启“互联网+”的遥感数据创新应用，通过在线影像服务及增值产品服务，提供海量、高品质、低成本的影像数据在线应用能力。
            </p>
            <ul class="default-ul-list">
              <li>多类型、分辨率、 百PB影像管理能力、 实时发布影像数据</li>
              <li>业务零宕机，99.99%持久度 、千万级TPS 、持久度单流带宽>300MB/s</li>
              <li>丰富的数据访问接口、公有云+私有云、秒级扩容，按需服务</li>
            </ul>
          </div>
        </div>
        <div class="default-img-wrap order-1">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image fr" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article class="default-article" id="track">
      <div class="default-container">
        <div class="default-content-wrap">
          <div class="default-content">
            <p class="default-main-title">轨迹数据应用</p>
            <p class="default-sub-title">海量轨迹实时分析应用产品</p>
            <p class="default-abstract">
              针对车辆、手机、智能穿戴设备等产生的大量轨迹数据，系统提供从存储方案、快速检索到业务应用全方位的解决方案，为企业级的分析应用（路况预测、城市规划、聚类分析、伴行模式等）提供基础应用平台。
            </p>
            <ul class="default-ul-list">
              <li>万亿级别轨迹的快速检索</li>
              <li>复杂电子围栏无上限实时创建，毫秒级响应</li>
              <li>采用高性能数据压缩算法、高容错数据处理方式，存储量下降30-40%左右</li>
              <li>支持融合各种信息（如道路、兴趣点、人口分布等）协同分析</li>
            </ul>
          </div>
        </div>
        <div class="default-img-wrap">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article class="default-article" id="autolink">
      <div class="default-container">
        <div class="default-content-wrap">
          <div class="default-content">
            <p class="default-main-title">车联网应用</p>
            <p class="default-sub-title">高精度地图与V2X毫秒通讯</p>
            <p class="default-abstract">
              面向智能网联汽车V2X场景，可实现无人驾驶车辆的实时在线反馈，通过Web终端来展示智能网联汽车的行驶状况，可提供高精度地图、高精度定位与物联网的实时互动反馈，动态展示车辆的当前/历史运行状态。
            </p>
            <ul class="default-ul-list">
              <li>V2X实时车路通讯</li>
              <li>车道级高精算法</li>
              <li>实时数据可视化</li>
              <li>设备远程控制及更新</li>
            </ul>
          </div>
        </div>
        <div class="default-img-wrap order-1">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image fr" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article class="default-article" id="3d">
      <div class="default-container">
        <div class="default-content-wrap">
          <div class="default-content">
            <p class="default-main-title">三维应用</p>
            <p class="default-sub-title">二三维一体化CIM应用</p>
            <p class="default-abstract">
              流畅的二三维一体化数据模型展示，极速的动/静态三维数据智能分析，提供行业领先的倾斜摄影数据的快速建模与三维分析工具。
            </p>
            <ul class="default-ul-list">
              <li>海量三维数据，秒级响应</li>
              <li>室内外二三维一体化</li>
              <li>BIM+GIS精准融合</li>
              <li>三维动态实时空间关系计算</li>
            </ul>
          </div>
        </div>
        <div class="default-img-wrap">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
          </div>
        </div>
      </div>
    </article>
  </main>
  <footer id="footer"></footer>
  <script src="./static/lib/jquery.min.js"></script>
</body>

</html>