<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title></title>
  <meta name="keywords" content="**" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="./static/lib/bootstrap/bootstrap.min.css" />
</head>

<body>
  <header id="header"></header>
  <main class="main">
    <article class="banner-article container default-banner lazy-bgimage index-banner" data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 text-center banner-describle">
          <p>海量 极速 智能</p>
          <p>技术领先的时空大数据云服务商</p>
          <p>
            提供极速发布、高效管理、智能应用的时空数据PaaS & SaaS级服务
            <br />
            打造「 高精度地图 × 高分遥感影像 × 高精度定位 」数字底座
          </p>
        </div>
      </div>
      <span class="rolling">
        <i></i>
      </span>
    </article>
    <article class="general-article bgF5F5F7">
      <section class="general-section fullWidth row">
        <p class="general-title">产品方案</p>
        <a class="solution-module col-xs-12 col-sm-6 lazy-bgimage" data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" href="sest.html">
          <div class="mask"></div>
          <span class="title">一</span>
          <span class="description">简介</span>
          <span class="arrow"></span>
        </a>
        <a class="solution-module col-xs-12 col-sm-6 lazy-bgimage" data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" href="seimage.html">
          <div class="mask"></div>
          <span class="title">二</span>
          <span class="description">简介</span>
          <span class="arrow"></span>
        </a>
        <a class="solution-module col-xs-12 col-sm-6 lazy-bgimage" data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" href="semap.html">
          <div class="mask"></div>
          <span class="title">三</span>
          <span class="description">简介</span>
          <span class="arrow"></span>
        </a>
        <a class="solution-module col-xs-12 col-sm-6 lazy-bgimage" data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" href="superScylla.html">
          <div class="mask"></div>
          <span class="title">四</span>
          <span class="description">简介</span>
          <span class="arrow"></span>
        </a>
      </section>
    </article>
    <article class="general-article">
      <section class="general-section container">
        <p class="general-title customer-title">客户与合作伙伴</p>
        <p class="general-subtitle">
          客户服务<span class="general-subtitle-customer">500+ </span>应用行业<span class="general-subtitle-customer">50+
          </span>
          业务遍及全国
        </p>
        <div class="row">
          <div class="customer-module col-xs-12">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image mobile" alt="" />
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image pc" alt="" />
          </div>
        </div>
      </section>
    </article>
    <article class="general-article bgF5F5F7">
      <section class="general-section container">
        <p class="general-title">新闻动态</p>
        <div class="row" style="position: relative">
          <div class="news-container">
            <div class="news-warp"></div>
          </div>
          <div class="swiper-control">
            <span id="news-pre" class="pre none forbidden"></span>
            <span id="news-next" class="next none"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="more-btn"><a href="news.html">更多动态</a></div>
          </div>
        </div>
      </section>
    </article>
  </main>
  <footer id="footer"></footer>
  <script src="./static/lib/jquery.min.js"></script>
  <!-- 动态配置新闻 -->
  <script src="./static/config/index.js"></script>
  <script src="./static/news/slider.js"></script>
</body>

</html>