<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>产品三</title>
  <meta name="keywords" content="" />
  <link rel="stylesheet" href="./static/lib/bootstrap/bootstrap.min.css" />
</head>

<body>
  <header id="header"></header>
  <main class="main">
    <article class="container default-banner seimage-banner lazy-bgimage" data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 default-describle">
          <p>产品三</p>
          <p></p>
          <p>
            为海量影像数据云上快速发布、便捷应用、智能分析而设计，提供百 PB
            级影像数据的非切片实时处理发布、动态服务与在线应用等强大能力，和高并发、高可用、高稳定的 PaaS、SaaS
            级云化服务。
          </p>
          <a class="default-blue-btn" href="" target="_blank">立即体验</a>
        </div>
      </div>
      <span class="rolling">
        <i></i>
      </span>
    </article>
    <article class="default-article">
      <div class="default-container sest-container">
        <div class="default-title-wrap">
          <p class="sest-article-title">产品优势</p>
          <p class="sest-abstract">百PB级遥感卫星影像数据 极速分发、在线处理、实时更新、智能应用</p>
        </div>
        <div class="default-point-wrap">
          <div class="point-wrap">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
            <div class="point-title">海量影像高效管理 / 快速发布</div>
          </div>
          <div class="point-wrap">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
            <div class="point-title">影像数据快捷应用与分析</div>
          </div>
          <div class="point-wrap">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
            <div class="point-title">快速构建业务应用系统</div>
          </div>
          <div class="point-wrap">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
            <div class="point-title">高可用 PaaS 级云平台</div>
          </div>
        </div>
      </div>
    </article>
    <article class="default-article pc-margin-160">
      <div class="default-container">
        <div class="default-content-wrap">
          <div class="default-content">
            <p class="default-main-title">面向数据运营商的<br />高效管理与快速发布</p>
            <p class="default-sub-title"></p>
            <ul class="default-ul-list">
              <li>多卫星（高分、资源、环境系列）影像数据的<span>全分辨率在线服务</span></li>
              <li>新获取卫星数据<span>1小时内“入库即发布”</span></li>
              <li><span>10万次/S并发访问</span>请求，速率超越传统影像数据技术平台<span>数百倍</span></li>
            </ul>
            <a class="default-blue-btn" href="" target="_blank">四维</a>
          </div>
        </div>
        <div class="default-img-wrap">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article class="default-article pc-margin-160">
      <div class="default-container">
        <div class="default-content-wrap">
          <div class="default-content">
            <p class="default-main-title">面向成果应用的<br />实时影像处理</p>
            <p class="default-sub-title"></p>
            <ul class="default-ul-list">
              <li>数据全自动化生产与发布，无人值守</li>
              <li>多样化、实时在线智能分析，个性化呈现</li>
              <li>每15分钟一次的高频数据生产、发布、分析、展现</li>
            </ul>
            <a class="default-blue-btn" href="" target="_blank">产品</a>
          </div>
        </div>
        <div class="default-img-wrap order-1">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article class="default-article pc-margin-160">
      <div class="default-container">
        <div class="default-content-wrap">
          <div class="default-content">
            <p class="default-main-title">面向实时在线智能分析的<br />影像科学计算应用</p>
            <p class="default-sub-title"></p>
            <ul class="default-ul-list">
              <li>无缝集成丰富的算法库。数据自动化校正、产品生产与成果自动化发布</li>
              <li>单影像(700M)从校正到发布，一分钟内完成</li>
              <li>成果一键导出 一键导出源数据与当前叠加显示数据</li>
              <li>二三维任意切换浏览；原数据精准定位 一键导出源数据与当前叠加显示数据</li>
            </ul>
            <a class="default-blue-btn" href="" target="_blank">产品</a>
          </div>
        </div>
        <div class="default-img-wrap">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article class="default-article pc-margin-160">
      <div class="default-container">
        <div class="default-content-wrap pc-pad-top-10">
          <div class="default-content">
            <p class="default-main-title">面向不同行业的<br />应用系统快速开发</p>
            <p class="default-sub-title"></p>
            <ul class="default-ul-list">
              <li>丰富的开发接口，涵盖数据浏览、检索、处理等接口</li>
              <li>行业应用开发模板，应用场景小时级实现，大幅缩短开发周期</li>
              <li>支持影像、矢量、物联网等多源数据综合、多端应用</li>
            </ul>
          </div>
        </div>
        <div class="default-img-wrap order-1">
          <div class="default-img pc-pad-left-10">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image pc-width80" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" class="default-recommend-wrap lazy-bgimage">
      <div class="default-recommend">
        <p>推荐了解</p>
        <ul class="default-recommend-links">
          <li><a href="sest.html">产品一</a></li>
          <li><a href="semap.html">产品二</a></li>
          <li><a href="sesuperscylla.html">产品四</a></li>
        </ul>
      </div>
    </article>
  </main>
  <footer id="footer"></footer>
  <script src="./static/lib/jquery.min.js"></script>
</body>

</html>