<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>产品二</title>
  <link rel="stylesheet" href="./static/lib/bootstrap/bootstrap.min.css" />
</head>

<body>
  <header id="header"></header>
  <main class="main">
    <article class="container default-banner semap-banner lazy-bgimage" data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 default-describle">
          <p>产品二</p>
          <p></p>
          <p>
            融合海量空间数据DaaS级、智慧地图技术PaaS级的自主可控地图云平台，围绕“数据汇聚、服务发布、地图制图、业务应用”四大能力，为用户提供海量地图数据云管理、云开发与云生态等服务。
          </p>
          <a class="default-blue-btn" href="" target="_blank">了解更多</a>
        </div>
      </div>
      <span class="rolling">
        <i></i>
      </span>
    </article>
    <article class="default-article">
      <div class="default-container sest-container">
        <div class="default-title-wrap">
          <p class="sest-article-title">产品优势</p>
          <p class="sest-abstract">新一代政企地图云</p>
        </div>
        <div class="default-point-wrap">
          <div class="point-wrap">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
            <div class="point-title">国产专利技术，自主可控</div>
          </div>
          <div class="point-wrap">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
            <div class="point-title">无需预处理，实时发布，实时更新</div>
          </div>
          <div class="point-wrap">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
            <div class="point-title">多坐标系、多来源、<br />多格式的数据支持能力</div>
          </div>
          <div class="point-wrap">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
            <div class="point-title">微服务，云能力</div>
          </div>
        </div>
      </div>
    </article>
    <article class="default-article pc-margin-160">
      <div class="default-container">
        <div class="default-content-wrap">
          <div class="default-content">
            <p class="default-main-title">海量多源空间数据<br />实时上云分发</p>
            <p class="default-sub-title"></p>
            <ul class="default-ul-list">
              <li>无需预处理，“所见即所得”，TB级地图数据一键发布、实时更新</li>
              <li>多达300种坐标系（含地方坐标系）自由转换，常用Web墨卡托和WGS84坐标系支持</li>
              <li>室内外一体化地图数据管理能力</li>
              <li>支持常用的 SHP、GDB、GJB、MDB、S57 海图等专业矢量数据格式</li>
            </ul>
          </div>
        </div>
        <div class="default-img-wrap">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article class="default-article pc-margin-160">
      <div class="default-container">
        <div class="default-content-wrap">
          <div class="default-content">
            <p class="default-main-title">去专业化的<br />轻型地图数据在线编辑</p>
            <p class="default-sub-title"></p>
            <ul class="default-ul-list">
              <li>开放丰富的数据资源，定期更新</li>
              <li>多人在线实时协同，实时编辑、实时联动、实时更新</li>
              <li>强大的在线配图工具，符号库、字体库等多样化集成工具</li>
            </ul>
          </div>
        </div>
        <div class="default-img-wrap order-1">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article class="default-article pc-margin-160">
      <div class="default-container">
        <div class="default-content-wrap">
          <div class="default-content">
            <p class="default-main-title">时空大数据可视化<br />智慧应用弹指间</p>
            <p class="default-sub-title"></p>
            <ul class="default-ul-list">
              <li>业务数据快速上图、可视化展示</li>
              <li>支持电子围栏监测、热力分析、最优路径分析等智能分析功能</li>
              <li>支持PC端、移动端和大屏展示等多端应用适配</li>
            </ul>
          </div>
        </div>
        <div class="default-img-wrap">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article class="default-article pc-margin-160">
      <div class="default-container">
        <div class="default-content-wrap">
          <div class="default-content">
            <p class="default-main-title">自主可控的<br />地图云生态能力</p>
            <p class="default-sub-title"></p>
            <ul class="default-ul-list">
              <li>全国产专利技术，自主可控，满足完全国产化需求</li>
              <li>支持国产数据库，兼容麒麟系列操作系统</li>
              <li>硬件平台支持 X86、龙芯、飞腾、华为鲲鹏等</li>
              <li>基于微服务的云管理、云原生、云服务、云开发能力</li>
            </ul>
          </div>
        </div>
        <div class="default-img-wrap order-1">
          <div class="default-img pc-pad-left-10">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" class="default-recommend-wrap lazy-bgimage">
      <div class="default-recommend">
        <p>推荐了解</p>
        <ul class="default-recommend-links">
          <li><a href="sest.html">产品一</a></li>
          <li><a href="seimage.html">产品三</a></li>
          <li><a href="sesuperscylla.html">产品四</a></li>
        </ul>
      </div>
    </article>
  </main>
  <footer id="footer"></footer>
  <script src="./static/lib/jquery.min.js"></script>
</body>

</html>