<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>产品一</title>
  <link rel="stylesheet" href="./static/lib/bootstrap/bootstrap.min.css" />
</head>

<body>
  <header id="header"></header>
  <main class="main">
    <article class="container default-banner sest-banner lazy-bgimage" data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 default-describle">
          <p>产品一</p>
          <p></p>
          <p>
            为政企 / 行业用户建立高可用时空数据中台。
            <br />
            为多源、海量时空数据接入、存储、发布、分析、应用、呈现提供高性能基础。
          </p>
          <a class="default-blue-btn" href="technique-center.html#sest">产品文档</a>
        </div>
      </div>
      <span class="rolling">
        <i></i>
      </span>
    </article>
    <article class="default-article">
      <div class="default-container sest-container">
        <div class="default-title-wrap">
          <p class="sest-article-title">产品优势</p>
          <p class="sest-abstract">海量、多源时空大数据云平台高性能一站式服务</p>
        </div>
        <div class="default-point-wrap">
          <div class="point-wrap">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
            <div class="point-title">高效管理 / 极速发布</div>
            <div class="point-abstract">无需预处理，海量时空大数据一站式高效管理发布</div>
          </div>
          <div class="point-wrap">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
            <div class="point-title">强大的分析能力</div>
            <div class="point-abstract">超越同类产品千倍的时空分析能力</div>
          </div>
          <div class="point-wrap">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
            <div class="point-title">全面支持多源数据</div>
            <div class="point-abstract">支持矢量、影像、三维、物联网等多源数据高效管理与融合应用</div>
          </div>
          <div class="point-wrap">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
            <div class="point-title">超强兼容能力</div>
            <div class="point-abstract">公有云、私有云、混合云灵活部署，多终端自适应展示与应用</div>
          </div>
        </div>
      </div>
    </article>
    <article class="default-article pc-margin-160">
      <div class="default-container">
        <div class="default-content-wrap">
          <div class="default-content">
            <p class="default-main-title">全球专利自主技术</p>
            <p class="default-sub-title">提升数据生产应用效能千倍</p>
            <p class="default-abstract">海量地图、遥感影像、物联网数据，无需预处理， “入库即发布、发布即应用”</p>
            <div class="default-list">
              <p class="sum">高效存储</p>
              <p class="des">无冗余分布式云存储</p>
              <p class="sum">高效传输</p>
              <p class="des">自适应化简、渐进传输</p>
              <p class="sum">智能呈现</p>
              <p class="des">高并发读写与访问，智能化实时交互与可视化</p>
            </div>
          </div>
        </div>
        <div class="default-img-wrap sest-another-img">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image special-img" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article class="default-article pc-margin-160">
      <div class="default-container">
        <div class="default-content-wrap">
          <div class="default-content">
            <p class="default-main-title">毫秒级数据查询分析</p>
            <p class="default-sub-title">支撑多元化智慧城市场景</p>
            <div class="default-list">
              <p class="sum">万亿级数据承载量</p>
              <p class="des">支持千万级终端、万亿级轨迹点的极速呈现与查询分析</p>
              <p class="sum">电子围栏</p>
              <p class="des">异形电子围栏无上限实时创建 毫秒级响应</p>
              <p class="sum">动态多维分析</p>
              <p class="des">自定义数据标签、任意组合，极速分析运算</p>
            </div>
            <a class="default-blue-btn" href="" target="_blank">立即体验</a>
          </div>
        </div>
        <div class="default-img-wrap order-1">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image fr special-img" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article class="default-article pc-margin-160">
      <div class="default-container">
        <div class="default-content-wrap">
          <div class="default-content">
            <p class="default-main-title">多源时空数据</p>
            <p class="default-sub-title">统一高效管理 突破数据孤岛</p>
            <div class="default-list">
              <p class="sum">**核心索引云</p>
              <p class="des">支持各种类型的时空数据服务形成统一标准、管理与应用</p>
              <p class="sum">支持行业通用标准</p>
              <p class="des">提供地理信息行业软件、数据及服务，标准化OGC服务</p>
              <p class="sum">提供空间数据共享交换与协同服务能力</p>
              <p class="des">实现跨部门、跨行业之间的数据共享和业务协同</p>
            </div>
          </div>
        </div>
        <div class="default-img-wrap">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article class="default-article pc-margin-160">
      <div class="default-container">
        <div class="default-content-wrap">
          <div class="default-content">
            <p class="default-main-title">多终端自适应化简传输</p>
            <p class="default-sub-title">数据全平台应用更灵活</p>
            <p class="default-abstract">
              **专利时空传输技术，支持根据终端对数据的应用需求，智能自适应化简传输，满足多场景、多尺度的显示需求，提升系统性能，支持桌面端、Web端、移动端及大屏等多终端应用
            </p>
          </div>
        </div>
        <div class="default-img-wrap order-1">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image fr special-img" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" class="default-recommend-wrap lazy-bgimage">
      <div class="default-recommend">
        <p>推荐了解</p>
        <ul class="default-recommend-links">
          <li><a href="semap.html">产品二</a></li>
          <li><a href="seimage.html">产品三</a></li>
          <li><a href="sesuperscylla.html">产品四</a></li>
        </ul>
      </div>
    </article>
  </main>
  <footer id="footer"></footer>
  <script src="./static/lib/jquery.min.js"></script>
</body>

</html>