<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>产品四</title>
  <link rel="stylesheet" href="./static/lib/bootstrap/bootstrap.min.css" />
</head>

<body>
  <header id="header"></header>
  <main class="main">
    <article class="container default-banner sesuperscylla-banner lazy-bgimage" data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 default-describle">
          <p>产品四</p>
          <p></p>
          <p>
            面向时空动态数据的新一代分布式NoSQL数据库。
          </p>
          <a class="default-blue-btn" href="technique-center.html#sesuperscylla">下载产品文档</a>
        </div>
      </div>
      <span class="rolling">
        <i></i>
      </span>
    </article>
    <article class="default-article">
      <div class="default-container sest-container">
        <div class="default-title-wrap">
          <p class="sest-article-title">产品优势</p>
          <p class="sest-abstract">高密集时空数据、物联网数据处理利器</p>
        </div>
        <div class="default-point-wrap sesuperscylla-point-wrap">
          <div class="point-wrap">
            <div class="point-power">
              <strong>&lt;10ms</strong>
              <span>延时</span>
            </div>
            <div class="point-abstract">
              相对Cassandra、HBase等Java语言实现的数据库，具有5~10倍的性能优势，在95%的应用场景下延时时间小于10ms
            </div>
          </div>
          <div class="point-wrap">
            <div class="point-power">
              <strong>10倍</strong>
              <span>效率</span>
            </div>
            <div class="point-abstract">在空间数据写入、查询效率等方面，为同类品牌的10倍</div>
          </div>
          <div class="point-wrap">
            <div class="point-power">
              <strong>4倍</strong>
              <span>吞吐量</span>
            </div>
            <div class="point-abstract">实时时空动态数据吞吐量为同类产品的4倍，延时时间仅为同类产品的1/4</div>
          </div>
          <div class="point-wrap">
            <div class="point-power">
              <strong>2~3个</strong>
              <span>数量级</span>
            </div>
            <div class="point-abstract">时空数据显示相关的响应时间相比传统 SQL 可减少 2~3 个数量级</div>
          </div>
        </div>
      </div>
    </article>
    <article class="default-article pc-margin-160">
      <div class="default-container">
        <div class="default-content-wrap pc-flex-align-center">
          <div class="default-content">
            <p class="default-main-title">时空之戟</p>
            <p class="default-sub-title">“时间+空间”的管理分析首选</p>
            <ul class="default-ul-list">
              <li>支持对Geopoint字段建立索引、空间过滤、“空间+时间+属性”的多维条件查询</li>
              <li>内置强大的动态轨迹数据分析处理模型，只需若干条SQL即能快捷应用时空数据</li>
            </ul>
          </div>
        </div>
        <div class="default-img-wrap pc-width50">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image pc-width80 margin-center block" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article class="default-article pc-margin-160">
      <div class="default-container">
        <div class="default-content-wrap pc-flex-align-center">
          <div class="default-content">
            <p class="default-main-title">风驰电掣</p>
            <p class="default-sub-title">双重极速技术，海量时空数据，高速并发写入</p>
            <ul class="default-ul-list">
              <li>集群在2000并发以上写⼊，吞吐量最高约18万/秒，大规模集群时空数据处理效率无损耗</li>
              <li>内置ScyllaDB+SuperEngineIndex双重极速引擎，PB级时空数据存储、访问能力</li>
            </ul>
          </div>
        </div>
        <div class="default-img-wrap pc-width50 order-1">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image pc-width80 margin-center block" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article class="default-article pc-margin-160">
      <div class="default-container">
        <div class="default-content-wrap pc-flex-align-center">
          <div class="default-content">
            <p class="default-main-title">节节增长</p>
            <p class="default-sub-title">新增节点自动发现并可使用</p>
            <ul class="default-ul-list">
              <li>真正的水平可扩展，集群中没有Master节点，新增节点自动发现并可使用</li>
              <li>采⽤ LSM结构的存贮引擎，高速并发写入，适合海量数据动态扩展属性场景</li>
            </ul>
          </div>
        </div>
        <div class="default-img-wrap pc-width50">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image pc-width80 margin-center block" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article class="default-article pc-margin-160">
      <div class="default-container">
        <div class="default-content-wrap pc-flex-align-center">
          <div class="default-content">
            <p class="default-main-title">泰然自若</p>
            <p class="default-sub-title">健壮分布式架构，无节点故障，可扩展集群</p>
            <ul class="default-ul-list">
              <li>Share-Nothing的分布式、多数据中心架构，集群可用指标达到99.99%</li>
              <li>多种容错机制，多地容灾方案，轻松实现数据的跨中心复制，保证集群稳定性</li>
            </ul>
          </div>
        </div>
        <div class="default-img-wrap pc-width50 order-1 pc-pad-left-5">
          <div class="default-img">
            <img data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" src="../assets/images/loading.gif" class="lazy-image pc-width80 margin-center block" alt="" />
          </div>
        </div>
      </div>
    </article>
    <article data-phonesrc="../assets/images/loading.gif" data-src="../assets/images/loading.gif" class="default-recommend-wrap lazy-bgimage">
      <div class="default-recommend">
        <p>推荐了解</p>
        <ul class="default-recommend-links">
          <li><a href="sest.html">产品一</a></li>
          <li><a href="semap.html">产品二</a></li>
          <li><a href="seimage.html">产品三</a></li>
        </ul>
      </div>
    </article>
  </main>
  <footer id="footer"></footer>
  <script src="./static/lib/jquery.min.js"></script>
</body>

</html>